In [1]:
import pandas as pd
import sqlite3

In [2]:
covidDeaths_df= pd.read_csv("data/CovidDeaths.csv")
covidVaccinations_df= pd.read_csv("data/CovidVaccinations.csv")

In [3]:
covidDeaths_df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,1/3/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,1/4/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,1/5/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,1/6/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,1/7/2020,41128772,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cnn = sqlite3.connect("Covid19-Data.db")

In [5]:
covidDeaths_df.to_sql("CovidDeaths",cnn)
covidDeaths_df.to_sql("CovidVaccinations",cnn)

ValueError: Table 'CovidDeaths' already exists.

In [6]:
%load_ext sql

In [7]:
%sql sqlite:///Covid19-Data.db

'Connected: @Covid19-Data.db'

In [8]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///Covid19-Data.db
Done.

[('CovidDeaths',), ('CovidVaccinations',)]

In [10]:
%%sql

SELECT * FROM CovidDeaths LIMIT 10

 * sqlite:///Covid19-Data.db
Done.

[(0, 'AFG', 'Asia', 'Afghanistan', '1/3/2020', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (1, 'AFG', 'Asia', 'Afghanistan', '1/4/2020', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (2, 'AFG', 'Asia', 'Afghanistan', '1/5/2020', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (3, 'AFG', 'Asia', 'Afghanistan', '1/6/2020', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (4, 'AFG', 'Asia', 'Afghanistan', '1/7/2020', 41128772, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, None, None, None, None),
 (5, 'AFG', 'Asia', 'Afghanistan', '1/8/2020', 41128772, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, None, None, None, None, None, None, None, None),
 (6, 'AFG', 'Asia', 'Afghanistan', '1/9/2020', 41128772, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, None, None, None, None, None, None, None, None),
 (7, 'AFG', 'Asia', 'Afghanistan', '1/10/2020', 41128772, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, None, None, None, None, None, None, None, None),
 (8, 'AFG', 'Asia', 'Afghanistan', '1/11/2020', 41128772, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, None, None, None, None, None, None, None, None),
 (9, 'AFG', 'Asia', 'Afghanistan', '1/12/2020', 41128772, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, 0.0, 0.0, None, None, None, None, None, None, None, None, None)]

In [ ]:
%%sql

SELECT * FROM data Limit 10

   sqlite:///Covid-Data.db
 * sqlite:///Covid19-Data.db
   sqlite:///data.db
(sqlite3.OperationalError) no such table: data
[SQL: SELECT * FROM data Limit 10]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

   sqlite:///Covid-Data.db
 * sqlite:///Covid19-Data.db
   sqlite:///data.db
(sqlite3.OperationalError) no such table: covid_data
[SQL: SELECT * from covid_data LIMIT 2]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

SyntaxError: invalid syntax (3508240422.py, line 1)